PORT=5000
DATABASE_URL=postgresql://neondb_owner:npg_8KAbMFi9YIOp@ep-shy-queen-ap94zodb-pooler.c-7.us-east-1.aws.neon.tech/neondb?sslmode=require
JWT_SECRET=i am kavin developed the fitness tracker app
JWT_EXPIRES_IN=7d
